.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    max-width: 350px;
    width: 90vw;
    border-radius: 20px;
    background-color: #1f1f1fc2;
  }
  
  .logo img {
    width: 100px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .input {
    margin: 10px 0;
    padding: 10px;
    width: 250px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #333333ab;
    color: #fff;
  }

  .input::placeholder{
    color: #fff;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #fe5858;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .social-login {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    margin: 10px 0;
    font-size: 16px;
  }
  
  .sign-up-link {
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
  }
  .sign-up-link a{
    text-decoration: underline;
    color: rgb(111, 111, 255);
  }