@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center; */
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: #333333;
}

* {
  /* user-select: none; */
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
}

.app {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #fff; */
  /* margin: 20px 0; */
  height: 100vh;
  position: relative;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);
}

h2 {
  color: #fff;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 350px;
  height: 400px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 90vw;
  max-width: 350px;
  height: 400px;
  /* box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30); */
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background: #2b2b2b;
  border-radius: 50px;
  width: 90vw;
  max-width: 350px;
  /* width: 100%; */
}

.buttons button {
  transition: .1s ease-in;
  border: none;
}

.buttons .like,
.dislike {
  width: 38%;
  margin: 5px;
  cursor: pointer;
  padding: 17px 0;
  border-radius: 50px;
  text-align: center;
}

.buttons .undo {
  width: 18%;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 17px 0;
  margin: 5px;
  z-index: 0;
}

.buttons i {
  font-size: 24px;
}

.buttons button:hover {
  transform: scale(1.02);
}

@keyframes popup {
  0% {
    transform: scale(1, 1)
  }

  10% {
    transform: scale(1.1, 1.1)
  }

  30% {
    transform: scale(.9, .9)
  }

  50% {
    transform: scale(1, 1)
  }

  57% {
    transform: scale(1, 1)
  }

  64% {
    transform: scale(1, 1)
  }

  100% {
    transform: scale(1, 1)
  }
}

.navigation {
  display: flex;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  width: 100%;
  max-width: 350px;
  height: 30px;
  padding-bottom: 30px;
  background: #333333;
  padding: 10px 0;
  /* border: 1px solid #fff; */
}

.navigation .nav_item {
  color: #fff;
  font-size: 24px;
}

.navigation .nav_item.active {
  color: #fe5858;
  transition: .5s ease;
}

.chat {
  max-width: 350px;
  width: 100%;
  height: 100vh;
  margin: auto;
  color: #f8f9fa;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.chat .title {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  height: 5%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.chat-list,
.chat-window {
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.user-list {
  padding: 16px;
}

.user-item {
  padding: 10px 14px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s;
}

.user-item .first {
  display: flex;
  gap: 10px;
}

.user-item img {
  width: 50px;
  border-radius: 25px;
}

.user-item .first .name {
  font-size: 18px;
}

.user-item .first .last-message {
  color: #ffffffad;
}

.user-item .last {
  display: block;
  position: relative;
}

.user-item .last .last-chat {
  color: #ffffff7a;
  display: inline-block;
}

.user-item .last .new-message {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background: #fd2e78;
  border-radius: 50%;
  font-size: 12px;
}

.user-item:hover {
  background-color: #dddddd2d;
  /* color: #000; */
}

.chat-window {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border-bottom: 1px solid #dddddda1;
  /* background-color: #007bff; */
  color: white;
}

.chat-header button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 350px;
}

.message {
  padding: 10px 14px;
  border-radius: 20px;
  max-width: 70%;
  line-height: 1.4;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.message.user {
  align-self: flex-end;
  background-color: #fd2e78;
  color: white;
}

.message.bot {
  align-self: flex-start;
  background-color: #f1f0f0;
  color: #333;
}

.input-container {
  display: flex;
  /* padding: 10px 0; */
  /* background: #f9f9f9; */
  border-top: 1px solid #ddd;
  /* margin-bottom: 10px; */
}

.input-container input {
  flex: 1;
  padding: 15px;
  border: 1px solid transparent;
  background: transparent;
  /* border-radius: 20px; */
  outline: none;
  color: #fff;
  margin-right: 8px;
}

.input-container input::placeholder {
  color: #fff;
}

.input-container button {
  padding: 10px 16px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: #ff0059;
  cursor: pointer;
}

.input-container button:hover {
  /* background-color: #ff0059; */
}

.currentUser {
  display: flex;
  align-items: center;
  justify-content: center;
}

.currentUser .nameTitle {
  display: block;
  margin-left: 10px;
  font: bold;
  font-size: 18px;
}

.currentUser img {
  width: 35px;
  margin-left: 10px;
  border-radius: 50%;
}

.currentUser .nameTitle .isActive {
  display: flex;
  align-items: center;
  gap: 5px;
}

.currentUser .nameTitle .isActive .activeText {
  font-size: 14px;
  color: #ffffff83;
}

.currentUser .nameTitle .isActive .activeDot {
  color: rgb(53, 255, 53);
  font-size: 8px;
  /* background: green; */

}

.gender-input {
  width: 100% !important;
  margin: 5px 0;
  border: 1px solid transparent;
  padding: 10px;
  width: 250px;
  background: #333333ab;
  border-radius: 5px;
  color: #fff;
}

/* CSS for the auth message with animation */
.auth-message {
  position: fixed;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100px);
  animation: authMessageIn 0.5s ease-in forwards;
  min-width: 200px;
  /* Make sure there's enough space for text */
}

@keyframes authMessageIn {
  from {
    transform: translateX(-50%) translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}

.auth-message.success {
  background-color: #4caf50;
  /* Green for success */
}

.auth-message.fail {
  background-color: #f44336;
  /* Red for failure */
}


.info {
  position: absolute;
  color: #fff;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.433);
  border-radius: 15px;
}

.info_name {
  font-size: 40px;
  display: flex;
}

.age {
  padding-left: 15px;
  color: #b2b2b2;
}

.info_city {
  font-size: 18px;
}

.current-user {
  margin: 20px 10px;
  font-size: 28px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  cursor: pointer;
}

.current-user a {
  text-decoration: none;
  color: #fff;
}

.searchbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.searchbar input {
  background: transparent;
  border: none;
  outline: none;
  color: #ddd;
  padding: 0 5px;
  width: 100%;
}

.searchbar input::placeholder{
  color: #fff;
}

.searchbar i {
  padding: 0 5px;
}